body {
    margin: 0;
    background-color: #000;
    color: #ff0;
    font-family: sans-serif;
    font-size: 13px;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    z-index: 1; /* TODO Solve this in HTML */
}

#button1 {
    position: fixed;
    overflow: auto;
    z-index: 1000;
    top: 20px;
    left: 20px;
}

#button2 {
    position: fixed;
    overflow: auto;
    z-index: 1000;
    top: 20px;
    left: 109px;
}

#button3 {
    position: fixed;
    overflow: auto;
    z-index: 1000;
    top: 20px;
    left: 131px;
}